<div class="cms-card cms-card-sm form-group-lg margin-md padding-md margin-left-sm">
  <h3>Add Fund</h3>
  <p *ngIf="addedFunds > 0" class="font-md success-icon">
    <span class="fa fa-check-circle"></span>&nbsp;&nbsp;
    Successfully added funds {{addedFunds | currency : 'INR'}}
  </p>
  <form #addFundsForm>
    <table class="table table-borderless">
      <tr>
        <td>
          <!--Stock Name-->
          <div class="form-group" [class.invalid]="amount.touched && amount.invalid">
            <label class="label" for="amount">Amount
              <span class="required">*</span>
            </label>
            <input class="form-control input-border-bottom-only"
                   id="amount" type="number" placeholder="Amount"
                   numberInputValidator
                   [minValue]="1"
                   [fieldName]="'Funds'"
                   [category]="'amount'"
                   [required]="true"
                   [(ngModel)]="funds"
                   BankBalanceValidator [maxBalance]="bankBalance.availableBalance"
                   name="amountInput" #amount="ngModel" autocomplete="off">
            <small *ngIf="amount.touched && amount.invalid">
              {{amount.errors?.errorMessage}}
              <span *ngIf="!amount.errors.errorMessage">
                Maximum amount can be {{bankBalance.availableBalance | currency : 'INR'}}
              </span>
            </small>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label class="label">Payment Method
              <span class="required">*</span>
            </label><br>
            UPI&nbsp;&nbsp;<input type="radio" name="payMethod" value="upi" class="custom-radio" [(ngModel)]="payMethod">
            Netbanking&nbsp;&nbsp;<input type="radio" name="payMethod" value="netbanking" class="custom-radio" [(ngModel)]="payMethod">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-md bg-blue font-white" (click)="addFunds(addFundsForm, amount)"
                  [disabled]="amount.invalid || !payMethod"
          >Submit</button>
        </td>
      </tr>
    </table>
  </form>
</div>
