<div class="cms-card cms-card-sm form-group-lg margin-md padding-md margin-left-sm">
  <h3>Add Entry</h3>
  <form>
    <div class="form-group" [class.invalid]="activityType.touched && activityType.invalid">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>

        <input class="form-control" id="name" type="text" placeholder="Party Name" textInputValidator [minLength]="8" [fieldName]="'Party Name'"
               [(ngModel)]="entryForm.unitPrice" name="name" #activityType="ngModel" autocomplete="off">

      </div>
      <small *ngIf="activityType.touched && activityType.invalid">
        {{activityType.errors?.errorMessage}}
      </small>
    </div>


    <div class="margin-lg text-right">
      <button class="btn btn-md bg-blue font-white" (click)="addEntry()">Submit</button>
      <button class="btn btn-md bg-secondary font-white margin-left-sm">Reset</button>
    </div>
  </form>
</div>
